# For custom Sprite Sources
public net.minecraft.client.renderer.texture.atlas.SpriteSources register(Ljava/lang/String;Lcom/mojang/serialization/Codec;)Lnet/minecraft/client/renderer/texture/atlas/SpriteSourceType;
public net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations createPaletteMapping([I[I)Ljava/util/function/IntUnaryOperator;
public net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations$PalettedSpriteSupplier

# public net.minecraft.client.renderer.GameRenderer renderBuffers

# For custom Creative Mode Tabs
public net.minecraft.world.item.CreativeModeTab displayItems
public net.minecraft.world.item.CreativeModeTab displayItemsSearchTab
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$ItemPickerMenu getRowIndexForScroll(F)I
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$SlotWrapper
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen selectedTab

# For adding Fireworks to Ponders
public net.minecraft.client.particle.FireworkParticles$SparkParticle

# For wrapping cooking Recipes for Decaying Item Cooking recipes
public net.minecraft.world.item.crafting.ShapedRecipe result
public net.minecraft.world.item.crafting.AbstractCookingRecipe result

# For use in determining whether a Recipe is done in a Manual-Only-Recipe-allowed menu
public net.minecraft.world.inventory.TransientCraftingContainer menu
public net.minecraft.world.item.crafting.CraftingInput <init>(IILjava/util/List;)V

# For use by Item Compression Manager
public net.minecraft.world.item.crafting.RecipeManager registries

# For use by SimulatedServer
public net.minecraft.server.MinecraftServer storageSource

# For use by Extended Inventory stuff
protected net.minecraft.world.entity.player.Inventory hasRemainingSpaceForItem(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Z
protected net.minecraft.world.entity.player.Inventory addResource(ILnet/minecraft/world/item/ItemStack;)I
protected net.minecraft.world.entity.player.Inventory addResource(Lnet/minecraft/world/item/ItemStack;)I
public net.minecraft.world.entity.LivingEntity detectEquipmentUpdates()V # detectEquipmentUpdates
private-f net.minecraft.world.entity.player.Player inventory
public-f net.minecraft.world.entity.player.Player inventoryMenu
public net.minecraft.server.level.ServerPlayer containerSynchronizer
public net.minecraft.server.level.ServerPlayer containerListener
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners
public net.minecraft.world.inventory.AbstractContainerMenu lastSlots
public net.minecraft.world.inventory.AbstractContainerMenu remoteSlots
public net.minecraft.world.inventory.AbstractContainerMenu addSlot(Lnet/minecraft/world/inventory/Slot;)Lnet/minecraft/world/inventory/Slot;
public net.minecraft.client.gui.Gui HOTBAR_SELECTION_SPRITE # HOTBAR_SELECTION_SPRITE
public net.minecraft.client.gui.Gui HOTBAR_OFFHAND_LEFT_SPRITE # HOTBAR_OFFHAND_LEFT_SPRITE
public net.minecraft.client.gui.Gui HOTBAR_OFFHAND_RIGHT_SPRITE # HOTBAR_OFFHAND_RIGHT_SPRITE
public net.minecraft.client.gui.Gui renderSlot(Lnet/minecraft/client/gui/GuiGraphics;IILnet/minecraft/client/DeltaTracker;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/item/ItemStack;I)V # renderSlot

# For Advanced Ingredients forcing Loot Table Drops (wishes) and Loot Table Modifiers
public net.minecraft.world.level.storage.loot.LootTable randomSequence # randomSequence
public net.minecraft.world.level.storage.loot.LootTable pools # pools
public net.minecraft.world.level.storage.loot.LootTable functions # functions
public net.minecraft.world.level.storage.loot.LootTable$Builder pools # pools
public net.minecraft.world.level.storage.loot.LootTable$Builder functions # functions
public net.minecraft.world.level.storage.loot.LootPool entries # entries
public net.minecraft.world.level.storage.loot.LootPool conditions # conditions
public net.minecraft.world.level.storage.loot.LootPool compositeCondition # compositeCondition
public net.minecraft.world.level.storage.loot.LootPool functions # functions
public net.minecraft.world.level.storage.loot.LootPool compositeFunction # compositeFunction
public net.minecraft.world.level.storage.loot.LootPool addRandomItem(Ljava/util/function/Consumer;Lnet/minecraft/world/level/storage/loot/LootContext;)V # addRandomItem
public net.minecraft.world.level.storage.loot.LootPool$Builder entries # entries
public net.minecraft.world.level.storage.loot.LootPool$Builder conditions # conditions
public net.minecraft.world.level.storage.loot.LootPool$Builder functions # functions
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer weight # weight
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer quality # weight
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer functions # functions
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer compositeFunction # compositeFunction
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer createItemStack(Ljava/util/function/Consumer;Lnet/minecraft/world/level/storage/loot/LootContext;)V # createItemStack
public net.minecraft.world.level.storage.loot.entries.NestedLootTable contents # contents
public net.minecraft.world.level.storage.loot.functions.EnchantRandomlyFunction options
public net.minecraft.world.level.storage.loot.functions.EnchantRandomlyFunction onlyCompatible
public net.minecraft.world.level.storage.loot.functions.EnchantWithLevelsFunction options
public net.minecraft.world.level.storage.loot.functions.EnchantWithLevelsFunction levels

# For custom LootContextParamSets
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY

# For custom render layers on everythang
public net.minecraft.client.renderer.entity.EntityRenderDispatcher renderers

# For checking for Off-Grid Tiling metadata on all block textures
public-f net.minecraft.client.renderer.texture.SpriteLoader DEFAULT_METADATA_SECTIONS # DEFAULT_METADATA_SECTIONS

# For doing stuff with wood types
public net.minecraft.world.level.block.state.properties.WoodType TYPES # TYPES
public net.minecraft.world.item.crafting.ShapedRecipePattern data # data
public net.minecraft.world.item.crafting.ShapedRecipePattern ingredientCount # ingredientCount
public net.minecraft.world.item.crafting.ShapedRecipePattern symmetrical # symmetrical
public net.minecraft.world.item.crafting.ShapedRecipePattern unpack(Lnet/minecraft/world/item/crafting/ShapedRecipePattern$Data;)Lcom/mojang/serialization/DataResult; # unpack

# For registering Entity Variant Type Sub-predicates
public net.minecraft.advancements.critereon.EntitySubPredicates$EntityVariantPredicateType$Instance
public net.minecraft.advancements.critereon.EntitySubPredicates$EntityVariantPredicateType codec # codec

# For determining whether Book-requiring recipes done in a Crafting Table have the right book
public net.minecraft.world.inventory.CraftingMenu access # access

# For force syncing chunks
public net.minecraft.server.level.ChunkMap onChunkReadyToSend(Lnet/minecraft/world/level/chunk/LevelChunk;)V # onChunkReadyToSend

# For force refreshing chunk colors
public net.minecraft.client.multiplayer.ClientLevel tintCaches # tintCaches
